<ion-header>

  <ion-navbar>
    <ion-title>Media Player</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="cards-bg">

  <ion-card>

  <audio controls *ngIf='clickedMedia.media_type === "audio"'>
    <source [src]="'http://media.mw.metropolia.fi/wbma/uploads/'+clickedMedia.filename">
  </audio>
  <video *ngIf='clickedMedia.media_type === "video"' controls>
    <source [src]="'http://media.mw.metropolia.fi/wbma/uploads/'+clickedMedia.filename" poster ="'http://media.mw.metropolia.fi/wbma/uploads/' + (clickMedia.filename | thumbnail: 'large')">
  </video>
  <img *ngIf='clickedMedia.media_type === "image"' [src]="'http://media.mw.metropolia.fi/wbma/uploads/'+clickedMedia.filename">


   <ion-card-content>
     <ion-card-title>
       {{clickedMedia.title}}
     </ion-card-title>
    <ion-item>Username: {{ clickedMedia.username }}</ion-item>
     <ion-item>
       <ion-label>Date</ion-label>
       <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="clickedMedia.time_added"></ion-datetime>
     </ion-item>
    <ion-item>Description: {{ clickedMedia.description }}</ion-item>
   </ion-card-content>

    <ion-row no-padding>
      <ion-col text-left>
        <button ion-button clear small color="danger"(click)="putLike()" icon-left>
          <ion-icon name="ios-happy-outline" *ngIf="!hasLiked"></ion-icon>
          <ion-icon name="ios-happy" *ngIf="hasLiked" color="danger"></ion-icon>
          Like
        </button>
      </ion-col>

      <ion-col text-center>
        <button ion-button clear small color="danger" id="likeCount">
          <span text-lowercase style="margin: auto 7px; font-size: 1.6rem" color="danger">{{likeNumber}} like{{ likeNumber !== 1 ? 's' : '' }}</span>
        </button>
      </ion-col>


      <ion-col text-right>
        <button ion-button clear small color="danger" (click)="navToCom()" icon-left>
          <ion-icon name='chatbubbles'></ion-icon>
          Comment
        </button>
      </ion-col>

    </ion-row>



  </ion-card>
</ion-content>
